<div class="example-container mat-elevation-z8">
    <div class="example-table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="id_alumno">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="idFilter" placeholder="id_alumno">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.id_alumno}}</th>
              </ng-container>

              <ng-container matColumnDef="nif_nie">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput  placeholder="nif_nie">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.nif_nie}}</th>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="nombreFilter" placeholder="nombre">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.nombre}}</th>
              </ng-container>

              <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="apellidosFilter" placeholder="apellidos">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.apellidos}}</th>
              </ng-container>

              <ng-container matColumnDef="fecha_nacimiento">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput placeholder="fecha_nacimiento">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.fecha_nacimiento}}</th>
              </ng-container>

              <ng-container matColumnDef="id_entidad_centro">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="idFilter" placeholder="id_entidad_centro">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.id_entidad_centro}}</th>
              </ng-container>

              <ng-container matColumnDef="id_ciclo">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput placeholder="id_ciclo">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.id_ciclo}}</th>
              </ng-container>

              <ng-container matColumnDef="curso">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="cursoFilter" placeholder="curso">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.curso}}</th>
              </ng-container>

              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="idFilter" placeholder="id_alumno">
                    <span mat-sort-header></span>
                </th>
                <th mat cell *matHeaderCellDef="let alumno">{{alumno.id_alumno}}</th>
              </ng-container>

        </table>








    </div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" (page)="changePage()"></mat-paginator>
</div>
